@using LedgerBook.ViewModels;
@model LoginMain;

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="login-signup-form-id"></div>

<div id="loginFormDivId" class="d-none">
    <h2><b>Login</b></h2>
    <form id="login-form-id" novalidate class="login-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Login.Email" type="email" id="login-email"
                class="form-control border border-dark w-100 h-100" placeholder="Email*" />
            <i class="fa-solid fa-envelope position-absolute translate-middle-y fs-4 me-3 email-icon-class"></i>
            <label for="login-email" class="form-floating text-dark ">Email*</label>
            <span asp-validation-for="@Model.Login.Email" class="d-flex justify-content-start text-danger "></span>
        </div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Login.Password" type="password" class="form-control border border-dark w-100 "
                id="login-password" placeholder="Password*" />
            <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 password-icon-class"
                onclick="toggle_fnction('login-togglePassword','login-password')" id="login-togglePassword"></i>
            <label for="login-password" class="form-floating text-dark ">Password*</label>
            <span asp-validation-for="@Model.Login.Password"
                class="d-flex justify-content-start  text-danger ms-1"></span>
        </div>

        <!-- Remember me and forgot pass section -->
        <div
            class="rememberme-div d-flex flex-md-row flex-column flex-wrap justify-content-md-between justify-content-start align-items-start ">
            <div class="form-check">
                <input class="form-check-input  border-dark" asp-for="@Model.Login.RememberMe" type="checkbox"
                    id="login-rememberme">
                <label class="fs-5 ms-2 text-dark text-nowrap" for="rememberme">Remember Me</label>
            </div>
            <a id="forgot-password" onclick="flipToForgotPassword()"
                class="text-color fs-5 cursor-pointer text-decoration-none text-nowrap">Forgot
                Password?</a>
        </div>
        <div class="d-flex justify-content-start text-danger  fs-5 mb-2">@ViewData["LoginMessage"]</div>

        <div class="d-grid">
            <input value="Login" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 " type="submit" />
        </div>
        <div class="d-flex justify-content-center mt-2 fs-5 text-dark text-nowrap flex-wrap">Don't have an Account?
            &nbsp;<a class="text-color cursor-pointer" onclick="flipToSignup()" style="text-decoration: none;">Sign
                Up</a>
        </div>
    </form>

</div>

<div id="registerFormDivId" class="d-none">
    <h2><b>Register</b></h2>
    <form id="registrationForm">
        @* <div asp-validation-summary="ModelOnly" class="text-danger"></div> *@

        <div class="form-floating mb-4 position-relative">
            <input type="text" id="register-FirstName" name="FirstName"
                class="form-control border border-dark w-100 h-100" placeholder="First Name*" />
            <i class="fa-solid fa-user position-absolute translate-middle-y fs-4 me-3 user-icon-class rounded"></i>
            <label for="register-FirstName" class="form-floating text-dark ">First Name*</label>
            <span asp-validation-for="@Model.Register.FirstName" class="d-flex justify-content-start text-danger "
                id="FistNameValidationMessage"></span>
        </div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Register.LastName" type="text" id="register-LastName"
                class="form-control border border-dark w-100 h-100" placeholder="Last Name*" />
            <i class="fa-solid fa-user position-absolute translate-middle-y fs-4 me-3 user-icon-class"></i>
            <label for="register-LastName" class="form-floating text-dark ">Last Name*</label>
            @* <span asp-validation-for="@Model.Register.LastName" class="d-flex justify-content-start text-danger "
                id="LastNameValidationMessage"></span> *@
        </div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Register.Email" type="email" id="register-email"
                class="form-control border border-dark w-100 h-100" placeholder="Email*" />
            <i class="fa-solid fa-envelope position-absolute translate-middle-y fs-4 me-3 email-icon-class"></i>
            <label for="register-email" class="form-floating text-dark ">Email*</label>
            @* <span asp-validation-for="@Model.Register.Email" class="d-flex justify-content-start text-danger "
                id="emailValidationMessage"></span> *@
        </div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Register.Password" type="password" id="register-password"
                class="form-control border border-dark w-100 h-100" placeholder="Password*" />
            <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 "
                onclick="toggle_fnction('register-togglePassword','register-password')" id="register-togglePassword"
                style="  top: 25px;right: -12px;background: white; padding: 11px; padding-top: 14px;"></i>
            <label for="register-password" class="form-floating text-dark  text-left">Password*</label>
            @* <span asp-validation-for="@Model.Register.Password" class="d-flex justify-content-start text-danger "
                id="passwordValidationMessage"></span> *@
        </div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Register.ConfirmPassword" type="password" id="register-confirmPassword"
                class="form-control border border-dark w-100 h-100" placeholder="Confirm Password*" />
            <i class="fa-solid fa-eye-slash position-absolute translate-middle-y fs-4 me-3 password-icon-class"
                onclick="toggle_fnction('register-togglePassword1','register-confirmPassword')"
                id="register-togglePassword1"></i>
            <label for="register-confirmPassword" class="form-floating text-dark  text-left">Confirm Password*</label>
            @* <span asp-validation-for="@Model.Register.ConfirmPassword" class="d-flex justify-content-start text-danger "
                id="confirmPasswordValidationMessage"></span> *@
        </div>

        <div class="d-flex justify-content-start text-danger  fs-5 mb-2">@ViewData["RegisterMessage"]</div>

        <div class="d-grid">
            <input value="Sign Up" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100" type="submit" />
        </div>
        <div class="d-flex justify-content-center mt-2 fs-5 text-dark text-nowrap flex-wrap">Already have an Account
            ? <a class="text-color cursor-pointer ms-3" onclick="flipToLogin()" style="text-decoration: none;">Login</a>
        </div>
    </form>


</div>

<div id="forgotPasswordFormDivId" class="d-none">
    <h2><b>Forgot Password</b></h2>
    <form id="forgotpassword-form-id" class="forgot-password-form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-floating mb-4 position-relative">
            <input asp-for="@Model.Login.Email" type="email" id="forgotpassword-email"
                class="form-control border border-dark w-100 h-100" placeholder="Email*" required />
            <i class="fa-solid fa-envelope position-absolute translate-middle-y fs-4 me-3 email-icon-class"></i>
            <label for="forgotpassword-email" class="form-floating text-dark ">Email*</label>
            <span asp-validation-for="@Model.Login.Email" class="d-flex justify-content-start text-danger "></span>
        </div>

        <div class="d-grid">
            <input type="submit" value="Send Email" class="login-btn btn btn-primary fs-5  pt-2 pb-2 w-100 " />
            <a class="text-color cursor-pointer fs-5 ms-3 me-1 mt-2 d-flex justify-content-center"
                onclick="flipToLogin()" style="text-decoration: none;">Back to Login</a>
        </div>
    </form>
</div>

@section Scripts {
    <script type="module" src="~/js/constant.js"></script>
    <script>

        function loginWithCookie() {
            $.ajax({
                url: `${BASE_URL}/Login/Login`,
                type: "GET",
                headers: {
                    "UserToken": getCookie(User_Token)
                },
                success: function (response) {
                    console.log(response)
                    if (response.isSuccess) {
                        if (response.toasterMessage != null) {
                            Toaster(response.toasterMessage);
                        }
                        let cookies = response.result;
                        if (cookies.userToken != null) {
                            setCookie(User_Token, cookies.userToken, 1);
                        } if (cookies.userName != null) {
                            setCookie(User_Name, cookies.userName, 1);
                        } if (cookies.profilePhoto != null) {
                            setCookie(Profile_Photo, cookies.profilePhoto, 1);
                        }
                        window.location = "/Business/Index";
                    } else {
                        if (response.toasterMessage != null) {
                            Toaster(response.toasterMessage, "error");
                        }
                    }
                },
                error: function (response) {
                    Toaster(response.toasterMessage, "error");
                    console.log("error", response.responseJSON);
                }
            })
        }

        $(document).ready(function () {
            @* $("#Email").keydown(function (event) {
                if (event.keyCode == 9) {
                    if ($("#Email").val().trim() == "") {
                        $("#Email").val("");
                        $("#emailValidationMessage").html(constant.EmailRequireMessage);
                    } else {
                        $("#emailValidationMessage").html("");
                    }
                }
            });

            $("#pass-inp").keydown(function (event) {
                if (event.keyCode == 9) {
                    if ($("#pass-inp").val().trim() == "") {
                        $("#pass-inp").val("");
                        $("#passwordValidationMessage").html(constant.PasswordRequireMessage);
                    } else {
                        $("#passwordValidationMessage").html("");
                    }
                }
            }); *@

                $(document).on("submit", "#login-form-id", function (e) {
                    e.preventDefault();
                    let form = $("#login-form-id")
                    console.log(form.valid())
                    if (form.valid()) {
                        let formData = new FormData();
                        formData.append("Email", $("#login-email").val())
                        formData.append("Password", $("#login-password").val())
                        $.ajax({
                            url: `${BASE_URL}/Login/LoginAsync`,
                            type: "POST",
                            contentType: false,
                            processData: false,
                            data: formData,
                            success: function (response) {
                                console.log(response)
                                if (response.isSuccess) {
                                    if (response.toasterMessage != null) {
                                        Toaster(response.toasterMessage);
                                    }
                                    let cookies = response.result;
                                    if (cookies.userToken != null) {
                                        setCookie(User_Token, cookies.userToken, 1);
                                    }
                                    if (cookies.userName != null) {
                                        setCookie(User_Name, cookies.userName, 1);
                                    } if (cookies.profilePhoto != null) {
                                        setCookie(Profile_Photo, cookies.profilePhoto, 1);
                                    }
                                    window.location = "/Business/Index";
                                } else {
                                    Toaster(response.toasterMessage, "error");
                                }
                            },
                            error: function (response) {
                                Toaster(response.responseJSON.toasterMessage, "error");
                                console.log("error", response.responseJSON);
                            }
                        })
                    }
                })


            $(document).on("submit", "#registrationForm", function (e) {
                e.preventDefault();
                console.log("hiii")
                let form = $("#registrationForm")
                console.log(this)
                if (form.valid()) {
                    let formData = new FormData();
                    formData.append("Email", $("#register-email").val())
                    formData.append("Password", $("#register-password").val())
                    formData.append("ConfirmPassword", $("#register-confirmPassword").val())
                    formData.append("FirstName", $("#register-FirstName").val())
                    formData.append("LastName", $("#register-LastName").val())

                    console.log($("#register-email").val())
                    console.log($("#register-password").val())
                    console.log($("#register-confirmPassword").val())
                    console.log($("#register-FirstName").val())
                    console.log($("#register-LastName").val())

                    console.log(formData)
                    $.ajax({
                        url: `${BASE_URL}/Login/Register`,
                        type: "POST",
                        contentType: false,
                        processData: false,
                        data: formData,
                        success: function (response) {
                            console.log(response)
                            if (response.isSuccess) {
                                Toaster(response.toasterMessage);
                                window.location = "/Login/Login"
                            } else {
                                Toaster(response.toasterMessage, "error");
                            }
                        },
                        error: function (response) {
                            Toaster(response.responseJSON.toasterMessage, "error");
                            console.log("error", response.responseJSON);
                        }
                    })
                }
            })

            $(document).on("submit", "#forgotpassword-form-id", function (e) {
                e.preventDefault();
                let form = $("#forgotpassword-form-id")
                if (form.valid()) {
                    let formData = new FormData();
                    formData.append("Email", $("#forgotpassword-email").val())
                    let email = $("#forgotpassword-email").val()
                    $.ajax({
                        url: `${BASE_URL}/Login/ForgotPassword`,
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded",
                        processData: true,
                        data: $.param({ email }),
                        success: function (response) {
                            if (response.isSuccess) {
                                const toaster = {
                                    isSuccess: response.isSuccess,
                                    toasterMessage: response.toasterMessage
                                };
                                localStorage.setItem('Toaster', JSON.stringify(toaster));
                                window.location = "/Login/Login"
                            } else {
                                if (response.toasterMessage != null) {
                                    Toaster(response.toasterMessage, "error")
                                }
                            }
                        }
                    })
                }
            })

        });

        $(document).ready(function () {
            let response = localStorage.getItem('Toaster');
            response = JSON.parse(response)
            if (response != null) {
                if (response.isSuccess) {
                    Toaster(response.toasterMessage)
                } else {
                    Toaster(response.toasterMessage, "error")
                }
                localStorage.removeItem('Toaster');
                console.log(response)
            }

            loginWithCookie();
        })
    </script>


    <partial name="_ValidationScriptsPartial" />
    <partial name="_Toaster" />
}
